<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    
</head>
<body>
    <section class="container-fluid">
       <div class="container">

           <div class="aside">
                <div class="aside-container">

                
                <div class="img-box">
                    <img src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fG1lbiUyMHByb2ZpbGUlMjBzcXVhcmV8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="profile">
                </div>

                <div class="info-box">
                    <!-- Contact div -->
                     <div class="contact">
                        <div class="heading">
                            <h3 class="info-heading">contact</h3>
                        </div>

                        <ul class="details">
                            <li class="address">
                               <p class="add-text"  data-address="1">
                                   <span class="icon">📇 </span> 
                                    #247Dream Valley 7th Avenue, NV - 10025
                               </p> 
                            </li>
                            <li class="phn">
                                <p class="phn-text" data-phn="1">
                                    <span class="icon">
                                        ☎
                                    </span>
                                     +1 124 568 982
                                </p>
                            </li>
                            <li class="email">
                                <p class="email-text" data-mail="1" >
                                    <span class="icon">
                                        📧
                                    </span>
                                     ifno@gmail.com
                                </p>
                            </li>
                        </ul>
                    </div>

                    <!-- Education -->
                    <div class="education">
                        <div class="heading">
                            <h3 class="info-heading">education</h3>
                        </div>

                        <ul class="details">
                            <li class="institution-info">
                                <p class="degree-txt" data-degree="1">Master's in MBA</p>
                                <p class="degree-year" data-year="1">JAN 2015 - DEC 2018</p>
                                <p class="institution-name">University of New York-USA</p>
                            </li>
                        </ul>
                    </div>

                    <div class="refreances">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, dolorem recusandae, ut modi minima suscipit voluptate asperiores quos fugit laboriosam illo autem rem. Doloremque, veniam expedita natus magni error maxime.
                    </div>

                </div>
            </div>
            </div>
            
            <div class="main-container">
                <div class="inside-main-container">
                    <div class="header">
                        <h1 class="name">Brijesh S A</h1>
                        <hr>
                        <h2>creative Director</h2>    
                    </div>
                    
                    <div class="profile">
                        <h2 class="main-heading">Profile</h2>
                      <p class="profile-text" data-profile="1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto doloremque autem ab quos officia accusantium saepe ducimus aliquid, adipisci incidunt!
                      </p>    
                    </div>

                    <div class="work-exp">
                        <h2 class="main-heading">work Experience</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto doloremque autem ab quos officia accusantium saepe ducimus aliquid, adipisci incidunt!
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eaque repellat facere cupiditate ad consequatur. Ipsam eum earum labore molestias fugiat incidunt quaerat veritatis, quae ea repudiandae blanditiis cumque! Molestiae?
                        </p>    
                    </div>
                    <div class="skills">
                        <h2 class="main-heading">skills</h2>
                        <ul class="skills-list">
                            <li class="skill" data-skill="1">java</li>
                            <li class="skill" data-skill="2">c++</li>
                            <li class="skill" data-skill="3">c</li>
                            <li class="skill" data-skill="4">Python</li>
                        </ul>    
                    </div>

                    <div class="languages">
                        <h2 class="main-heading">languages</h2>
                        <ul class="languages-list">
                            <li class="language" data-language="1">English</li>
                            <li class="language" data-language="2">Tamil</li>
                            <li class="language" data-language="3">Malayalam</li>
                            <li class="language" data-language="4">Hindi</li>
                        </ul>    
                    </div>

                    <div class="projects">
                        <h2 class="main-heading">projects</h2>
                        <ul class="projects-list">
                            <li class="project" data-project="1">java</li>
                            <li class="project" data-project="2">c++</li>
                            <li class="project" data-project="3">c</li>
                            <li class="project" data-project="4">Python</li>
                        </ul>    
                    </div>


                    <div class="specializations">
                        <h2 class="main-heading">specializations</h2>
                        <ul class="specializations-list">
                            <li class="specialization" data-specialization="1">java</li>
                            <li class="specialization" data-specialization="2">c++</li>
                            <li class="specialization" data-specialization="3">c</li>
                            <li class="specialization" data-specialization="4">Python</li>
                        </ul>    
                    </div>


                </div>
            </div>
            
        </div>
    </section>


</body>
</html>